<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/posts" method="POST">
        <p><input placeholder="닉네임" name="author"/> </p>
        <p><input placeholder="글제목" name="title"/> </p>
        <p><input placeholder="비밀번호" name="password" type="password"></p>
        <p><textarea placeholder="내용" name="body"></textarea></p>
        <input type="submit"/>
    </form>
  </body>
</html>
